<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">
    <bean id="RendererStandardImpl" class="Renderer.RendererErrImpl">
        <constructor-arg ref="PreProcessorToUpperImpl"/>
    </bean>
    <bean id="RendererErrImpl" class="Renderer.RendererErrImpl">
        <constructor-arg ref="PreProcessorToLower"/>
    </bean>

    <bean id="RenderStandardImpl" class="Renderer.RendererStandardImpl">
        <constructor-arg ref="PreProcessorToUpperImpl"/>
    </bean>
    <bean id="RenderErrImpl" class="Renderer.RendererStandardImpl">
        <constructor-arg ref="PreProcessorToLower"/>
    </bean>

    <bean id="PrinterWithDateTimeImpl" class="Printer.PrinterWithDateTimeImpl">
        <constructor-arg ref="RendererErrImpl"/>
    </bean>
    <bean id="PrinterWithPrefixImpl" class="Printer.PrinterWithPrefixImpl">
        <constructor-arg ref="RendererStandardImpl"/>
        <property name="prefix" value="prefix"/>
    </bean>
    <bean id="PreProcessorToLower" class="PreProcessor.PreProcessorToLower"/>
    <bean id="PreProcessorToUpperImpl" class="PreProcessor.PreProcessorToUpperImpl"/>
</beans>